# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Build
build/
dist/
*.spec

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.dll
*.so

# IDE
.vscode/
.idea/